os: linux
dist: xenial
language: shell

jobs:
  include:
    - stage: Linting
      name: shellcheck
      script: bash -c 'shopt -s globstar; shellcheck **/*.bash **/*.sh'
    - &Docker-generation
      language: generic
      services: docker
      name: tue-env
      script: ci/build-docker-image.sh tue-env
    - <<: *Docker-generation
      name: tue-env-cuda
      script: ci/build-docker-image.sh tue-env-cuda
