trigger:
  batch: true

schedules:
  - cron: "MM HH * * *" # Update cron string
    displayName: "Nightly"
    branches:
      include:
        - master # Update to default branch

variables:
  CI: true

pool:
  vmImage: 'ubuntu latest'

steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      wget https://raw.githubusercontent.com/tue-robotics/tue-env/master/ci/install-package.sh
      wget https://raw.githubusercontent.com/tue-robotics/tue-env/master/ci/build-package.sh
      wget https://raw.githubusercontent.com/tue-robotics/tue-env/master/ci/test-package.sh
      echo "##vso[task.setvariable variable=package]${BUILD_REPOSITORY_NAME#*/}"
  displayName: 'Get CI scripts'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      bash install-package.sh --package=$PACKAGE --branch=${SYSTEM_PULLREQUEST_SOURCEBRANCH:-${SYSTEM_PULLREQUEST_TARGETBRANCH:-${BUILD_SOURCEBRANCH#refs/heads/}}} --commit=${BUILD_SOURCEVERSION} --pullrequest=${SYSTEM_PULLREQUEST_PULLREQUESTNUMBER:-false} --image="tuerobotics/tue-env"
  displayName: 'Install'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      bash build-package.sh --package=$PACKAGE
  displayName: 'Build'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      bash test-package.sh --package=$PACKAGE
  displayName: 'Test'
