#!/usr/bin/env xdg-open

[Desktop Entry]
TryExec=gnome-terminal
Icon=/usr/share/pixmaps/tue/sergiodashboardsmall.png
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.4.1.1
Categories=GNOME;GTK;Utility;TerminalEmulator;
OnlyShowIn=GNOME;Unity;
Keywords=Run;
Actions=New
X-Ubuntu-Gettext-Domain=gnome-terminal
Terminal=false
Exec=bash -i -c sdashboard
Icon[en_US]=/usr/share/pixmaps/tue/sergiodashboardsmall.png
Name[en_US]=.SERGIO Dashboard
Name=AMIGO Dashboard

[Desktop Action New]
Name=New Terminal
Exec=gnome-terminal
OnlyShowIn=Unity
