#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Terminator
Comment=Multiple terminals in one window
TryExec=terminator
Exec=terminator -ml amigos
Icon=/home/amigo/.tue/installer/targets/tue-fancydesktop/icons/terminatorAmigoStartup.png
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
X-Ubuntu-Gettext-Domain=terminator
X-Ayatana-Desktop-Shortcuts=NewWindow;
Terminal=false

Icon[en_US]=/usr/share/pixmaps/tue/terminatorAmigos.png

Name[en_US]=.Terminator AmigoStartup

[NewWindow Shortcut Group]
Name=Open a New Window
Exec=terminator
TargetEnvironment=Unity

