name: Docker Tags

on: delete

jobs:
  delete_docker_tags:
    name: Deleting docker tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Script
        run: python3 ci/delete-docker-tags.py --org "tuerobotics" --image "tue-env" "tue-env-cuda"  -t "${{ github.event.ref }}" --username "${{ secrets.DOCKER_HUB_USERNAME }}" --password "${{ secrets.DOCKER_HUB_PASSWORD }}"

