name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Black
        run: pip install black
      - name: Shellcheck
        run: |
          shopt -s globstar
          shellcheck --version
          shellcheck **/*.bash **/*.sh
      - name: Python Black
        run: |
          black --version
          black -l 120 --check --diff --color .

  docker_generation_tue_env:
    name: Docker Generation tue-env
    runs-on: ubuntu-latest
    needs: linting
    strategy:
      matrix:
        include:
          - ros-distro: noetic
            ros-version: 1
          - ros-distro: galactic
            ros-version: 2
          - ros-distro: humble
            ros-version: 2
            base-image: "ubuntu:22.04"
    steps:
      - uses: actions/checkout@v3
      - name: Docker info
        run: docker info
      - name: Script
        run: |
          GITHUB_REF=${GITHUB_REF#refs/heads/}
          GITHUB_REF=${GITHUB_REF#refs/tags/}
          BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF}}
          PULLREQUEST=${{ github.event.number }}
          PULLREQUEST=${PULLREQUEST:-false}
          DEFAULT_BRANCH=${{ github.event.repository.default_branch }}
          if [[ "$BRANCH" == "$DEFAULT_BRANCH" ]]
          then
              IMAGE_TAG="latest"
          else
              IMAGE_TAG="$(echo "${BRANCH}" | tr '[:upper:]' '[:lower:]' | sed -e 's:/:_:g')"
          fi
          TARGET_IMAGE="tuerobotics/tue-env-ros-${{ matrix.ros-distro }}:${IMAGE_TAG}-amd64"
          ci/build-docker-image.sh \
            --image="${TARGET_IMAGE}" \
            --branch="${BRANCH}" \
            --commit="$GITHUB_SHA" \
            --push_image="true" \
            --pull_request="${PULLREQUEST}" \
            --user="${{ secrets.DOCKER_HUB_USERNAME }}" \
            --password="${{ secrets.DOCKER_HUB_PASSWORD }}" \
            --docker_login="true" \
            --ros_version="${{ matrix.ros-version }}" \
            --ros_distro="${{ matrix.ros-distro }}" \
            --base_image="${{ matrix.base-image }}" \
            --docker_file="dockerfiles/tue-env.Dockerfile" \
            --platforms="amd64"
