name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 3 1 * *'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  linting_actionlint:
    name: Actionlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Download actionlint
        id: get_actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
      - name: Check workflow files
        run: |
          curl -sSL https://raw.githubusercontent.com/rhysd/actionlint/main/.github/actionlint-matcher.json -o /tmp/actionlint-matcher.json
          echo "::add-matcher::/tmp/actionlint-matcher.json"
          ${{ steps.get_actionlint.outputs.executable }} -color -verbose
  linting_hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: "*.Dockerfile"
          recursive: true
          verbose: true
  linting_python_black:
    name: Black Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: psf/black@stable
        with:
          options: --check --diff --color -l 120

  linting_shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Shellcheck
        run: |
          shopt -s globstar
          shellcheck --version
          shellcheck -- **/*.bash **/*.sh

  docker_generation_tue_env:
    name: Docker Generation tue-env
    runs-on: ubuntu-latest
    needs: [linting_actionlint, linting_hadolint, linting_python_black, linting_shellcheck]
    strategy:
      fail-fast: false
      matrix:
        include:
          - ros-distro: noetic
            ros-version: 1
            platform: "amd64"
            base-image: "ubuntu:20.04"
          - ros-distro: humble
            ros-version: 2
            platform: "amd64"
            base-image: "ubuntu:22.04"
          - ros-distro: jazzy
            ros-version: 2
            platform: "amd64"
            base-image: "ubuntu:24.04"
            create-venv: true
            docker-user-id: 1001
          - ros-distro: rolling
            ros-version: 2
            platform: "amd64"
            base-image: "ubuntu:22.04"
            flavor: u22
          - ros-distro: rolling
            ros-version: 2
            platform: "amd64"
            base-image: "ubuntu:24.04"
            flavor: u24
            create-venv: true
            docker-user-id: 1001
          - ros-distro: noetic
            ros-version: 1
            platform: "amd64"
            base-image: "nvidia/cuda:12.1.1-devel-ubuntu20.04"
            flavor: cu12.1.1-devel
            default-branch-only: true
            maximize-build-space: true
    outputs:
      key: ${{ steps.artifacts.outputs.key }}
      tag: ${{ steps.script.outputs.tag }}
    steps:
      - name: Skip non-default-branch
        id: skip_check
        run: |
          #! /usr/bin/env bash
          DEFAULT_BRANCH=${{ github.event.repository.default_branch }}
          REF_NAME=${{ github.ref_name }}
          echo -e "\e[35;1mDEFAULT_BRANCH = ${DEFAULT_BRANCH}\e[0m"
          echo -e "\e[35;1mREF_NAME       = ${REF_NAME}\e[0m"
          if [[ "${{ matrix.default-branch-only }}" == "true" && "${REF_NAME}" != "${DEFAULT_BRANCH}" ]]
          then
            SKIP=true
          else
            SKIP=false
          fi
          echo -e "\e[35;1mskip=${SKIP} >> \${GITHUB_OUTPUT}\e[0m"
          echo "skip=${SKIP}" >> "${GITHUB_OUTPUT}"
      - name: Maximize build space
        if: steps.skip_check.outputs.skip == 'false' && matrix.maximize-build-space == true
        uses: easimon/maximize-build-space@master
        with:
          build-mount-path: /var/lib/docker/
          root-reserve-mb: 2048
          temp-reserve-mb: 512
      - name: Restart docker
        if: steps.skip_check.outputs.skip == 'false' && matrix.maximize-build-space == true
        run: sudo service docker restart
      - uses: actions/checkout@v6
        if: steps.skip_check.outputs.skip == 'false'
      - name: Login to Docker registry
        if: steps.skip_check.outputs.skip == 'false'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Expose GitHub Runtime
        if: steps.skip_check.outputs.skip == 'false'
        uses: crazy-max/ghaction-github-runtime@v3
#      - name: Set up QEMU
#        if: steps.skip_check.outputs.skip == 'false' && matrix.setup_qemu == true
#        uses: docker/setup-qemu-action@v3
      - name: Setup docker buildx
        if: steps.skip_check.outputs.skip == 'false'
        uses: docker/setup-buildx-action@v3
      - name: Docker info
        if: steps.skip_check.outputs.skip == 'false'
        run: docker info
      - name: Script
        if: steps.skip_check.outputs.skip == 'false'
        id: script
        # yamllint disable rule:indentation
        # yamllint disable rule:line-length
        run: |
          #! /usr/bin/env bash
          BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF_NAME}}
          # shellcheck disable=SC1083,SC2296
          PULLREQUEST=${{ github.event.number }}
          PULLREQUEST=${PULLREQUEST:-false}
          # shellcheck disable=SC1083,SC2296
          # PUSH_IMAGE=\$\{\{ matrix.push-image \}\}
          [[ ${PULLREQUEST} != "false" ]] && PUSH_IMAGE="false"
          PUSH_IMAGE=${PUSH_IMAGE:-true}
          # shellcheck disable=SC1083,SC2296
          DEFAULT_BRANCH=${{ github.event.repository.default_branch }}
          if [[ "$BRANCH" == "$DEFAULT_BRANCH" ]]
          then
              IMAGE_TAG="latest"
          else
              IMAGE_TAG="$(echo "${BRANCH}" | tr '[:upper:]' '[:lower:]' | sed -e 's:/:_:g')"
          fi
          # shellcheck disable=SC1083,SC2296
          IMAGE_FLAVOR=${{ matrix.flavor }}
          IMAGE_FLAVOR=${IMAGE_FLAVOR:+"-${IMAGE_FLAVOR}"}
          # shellcheck disable=SC2296
          TARGET_IMAGE="${{ env.REGISTRY }}/tue-robotics/tue-env-ros-${{ matrix.ros-distro }}${IMAGE_FLAVOR}:${IMAGE_TAG}-${{ matrix.platform }}"
          SSH_KNOWN_HOSTS="github.com"
          SSH_ARGS=()
          if [[ -n "${SSH_KEY}" ]]
          then
              SSH_KEY_PATH="${HOME}"/.ssh/ci_ssh_key
              echo -e "\e[35;1mmkdir -p ${HOME}/.ssh\e[0m"
              mkdir -p "${HOME}"/.ssh
              echo "${SSH_KEY}" > "${SSH_KEY_PATH}"
              chmod 600 "${SSH_KEY_PATH}"
              eval "$(ssh-agent -s)"
              SSH_ARGS+=("--ssh" "--ssh-key=${SSH_KEY_PATH}")
          fi
          if [[ -n "${SSH_KNOWN_HOSTS}" ]]
          then
              echo -e "\e[35;1mmkdir -p ${HOME}/.ssh\e[0m"
              mkdir -p "${HOME}"/.ssh
              for host in ${SSH_KNOWN_HOSTS}
              do
                  echo -e "\e[35;1mssh-keyscan -t rsa -H \"${host}\" 2>&1 | tee -a ${HOME}/.ssh/known_hosts\e[0m"
                  ssh-keyscan -t rsa -H "${host}" 2>&1 | tee -a "${HOME}"/.ssh/known_hosts
              done
          fi
          # shellcheck disable=SC1083,SC2296
          CREATE_VENV=${{ matrix.create-venv }}
          CREATE_VENV=${CREATE_VENV:-false}
          # shellcheck disable=SC1083,SC2296
          # VENV_INCLUDE_SYSTEM_SITE=\$\{\{ matrix.venv-include-system-site \}\}
          VENV_INCLUDE_SYSTEM_SITE=${VENV_INCLUDE_SYSTEM_SITE:-true}
          # shellcheck disable=SC1083,SC2296
          # DOCKER_USER=\$\{\{ matrix.docker-user \}\}
          DOCKER_USER=${DOCKER_USER:-docker}
          # shellcheck disable=SC1083,SC2296
          DOCKER_USER_ID=${{ matrix.docker-user-id }}
          DOCKER_USER_ID=${DOCKER_USER_ID:-1000}
          # shellcheck disable=SC2296
          ci/build-docker-image.sh \
              --registry="${{ env.REGISTRY }}" \
              --image="${TARGET_IMAGE}" \
              --branch="${BRANCH}" \
              --commit="${GITHUB_SHA}" \
              --push_image="${PUSH_IMAGE}" \
              --pull_request="${PULLREQUEST}" \
              --ros_version="${{ matrix.ros-version }}" \
              --ros_distro="${{ matrix.ros-distro }}" \
              --base_image="${{ matrix.base-image }}" \
              --docker_file="dockerfiles/tue-env.Dockerfile" \
              --oauth2_token="${{ secrets.OAUTH2_TOKEN }}" \
              --gh-token="${{ github.token }}" \
              --platforms="${{ matrix.platform }}" \
              --create-virtualenv="${CREATE_VENV}" \
              --virtualenv-include-system-site-packages="${VENV_INCLUDE_SYSTEM_SITE}" \
              --docker_user="${DOCKER_USER}" \
              --docker_user_id="${DOCKER_USER_ID}" \
              "${SSH_ARGS[@]}"
          echo -e "\e[35;1mimage=${TARGET_IMAGE} >> \${GITHUB_OUTPUT}\e[0m"
          echo "image=${TARGET_IMAGE}" >> "${GITHUB_OUTPUT}"
          echo -e "\e[35;1mtag=${IMAGE_TAG} >> \${GITHUB_OUTPUT}\e[0m"
          echo "tag=${IMAGE_TAG}" >> "${GITHUB_OUTPUT}"
        # yamllint enable rule:line-length
        # yamllint enable rule:indentation
      - name: Generate artifacts
        id: artifacts
        if: steps.skip_check.outputs.skip == 'false' && github.event_name != 'pull_request'
        run: |
          MATRIX_OUTPUT_KEY=image
          echo "${{ steps.script.outputs.image }}" > "${MATRIX_OUTPUT_KEY}"
          ARTIFACT=$(sha256sum "${MATRIX_OUTPUT_KEY}" | cut -d " " -f 1 | xargs -I{} echo "artifact={}")
          echo -e "\e[35;1m${ARTIFACT} >> \${GITHUB_OUTPUT}\e[0m"
          echo "${ARTIFACT}" >> "${GITHUB_OUTPUT}"
          echo -e "\e[35;1mkey=${MATRIX_OUTPUT_KEY} >> \${GITHUB_OUTPUT}\e[0m"
          echo "key=${MATRIX_OUTPUT_KEY}" >> "${GITHUB_OUTPUT}"
      - name: Write image name
        if: steps.skip_check.outputs.skip == 'false' && github.event_name != 'pull_request'
        uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.artifacts.outputs.artifact }}
          path: ${{ steps.artifacts.outputs.key }}
          retention-days: 1

  docker_manifest_generation_tue_env:
    name: Docker Manifest Generation tue-env
    runs-on: ubuntu-latest
    needs: [docker_generation_tue_env]
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v6
      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/download-artifact@v7
      - name: Read matrix output
        id: read
        # yamllint disable rule:line-length
        run: |
          result="$(find . -name ${{ needs.docker_generation_tue_env.outputs.key }} -exec cat {} \; | jq --slurp --raw-input 'split("\n")[:-1] | .[] | split(":") | {(.[0]) : [(.[1])]}' | jq -cs '[.[] | to_entries] | flatten | reduce .[] as $dot ({}; .[$dot.key] += $dot.value) | { ${{ needs.docker_generation_tue_env.outputs.key }} : . }' )"
          echo -e "\e[35;1mresult=${result} >> \${GITHUB_OUTPUT}\e[0m"
          echo "result=${result}" >> "${GITHUB_OUTPUT}"
        # yamllint enable rule:line-length
      - name: Generate new manifest files
        # yamllint disable rule:indentation
        run: |
          ci/docker-manifest-generator.sh \
            --images-json='${{ toJSON(steps.read.outputs.result) }}' \
            --tag="${{ needs.docker_generation_tue_env.outputs.tag }}"
        # yamllint enable rule:indentation
